{:paths ["src"]
 :aliases {;; clj -A:client -m figwheel.main
           :client {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.439"}
                                 com.bhauman/figwheel-main {:mvn/version "0.1.9"}
                                 cljs-ajax {:mvn/version "0.8.0"}
                                 binaryage/devtools {:mvn/version "0.9.10"}}}
           :rebel {:extra-deps {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}}
           ;; clj -A:server
           :server {:extra-paths ["src/clj"]
                    :extra-deps {ring/ring-core {:mvn/version "1.7.1"}
                                 http-kit {:mvn/version "2.2.0"}
                                 expound {:mvn/version "0.7.2"}
                                 ring-middleware-format {:mvn/version "0.7.2"}}
                    :main-opts ["-m" "server"]}
           ;; clj -A:lint:lint/fix
           :lint {:extra-deps {com.jameslaverack/cljfmt-runner
                               {:git/url "https://github.com/JamesLaverack/cljfmt-runner"
                                :sha "97960e9a6464935534b5a6bab529e063d0027128"}}
                  :main-opts ["-m" "cljfmt-runner.check"]}
           :lint/fix {:main-opts ["-m" "cljfmt-runner.fix"]}
           ;; clj -A:server:liq
           :liq {:extra-deps {mogenslund/liquid {:mvn/version "1.0.0"}}
                 :main-opts ["-m" "dk.salza.liq.core"]}}}
